.jumbotron {
  text-align: center;
  background-color: rgb(244,222,182);

}

body {
  background-color: rgb(230,230,230);
}

#display-list {
  display: none;
  margin-top: 10px;
}

.col-xs-3 {
  background-color: rgb(144,187,144);
}
